
/* .carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    
}

.carousel-bg-img-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),url(images/cover/cover-1.png);
}
.carousel-bg-img-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),url(images/cover/cover-2.jpg);
}
.carousel-bg-img-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),url(images/cover/cover-3.jpg);
} */


